* {
  border: 0;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding: 2rem;
}

h1 {
  color: #562e56;
  font-size: 3rem;
  padding: 1rem;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
}

p {
  padding: 0.5rem 1rem;
}

button:active {
  border: 0;
  box-shadow: 0 0 1rem #dec2de;
  outline: none;
}
